/* =========================== RESET CSS =========================== */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans:wght@400;500;600;700&display=swap');
html{ font-size: 100%; --default_font_std: 'Lato', sans-serif;--default_font_title:'Calligraffitti', sans-serif}
*{ margin: 0px; padding: 0px; font-family: var(--default_font_std)}
ul{ list-style: none; }
p{ font-size: 1rem; line-height: 1.5em; }
h1{ font-family: var(--default_font_std); font-size: 3.125rem; line-height: 3.125rem; }
h2{ font-family: var(--default_font_std); font-size: 2.5rem; line-height: 2.5rem; }
h3{ font-family: var(--default_font_std); font-size: 2rem; line-height: 2.1rem; }
body{padding:0px; margin:0px;--invisible:rgba(0,0,0,0);}
button{border: none;padding: 1em;}
/* ================================================================= */

/* ========== COLORS ========== */
:root{
    --bg_white:#FFFFFF;
    --bg_blue:#3693D6;
    --bg_light_blue:#9BC0FF;
    --bg_grey:#0000004D;
    --bg_light_grey:#E2E2E2;
}


/* ======= Document ======== */
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
    .article_about_me{
        padding: 0px 1em;
    }
        .sub_title{
            margin-bottom: 1em;
        }
        .about_me_para{
            padding-bottom: 1em;
            font-size: 1.5em;
        }

/* HEADER */
header{
    padding: 2em 1em;
    background-image: url("../assets/photo_montagnes.png");
    background-size: cover;
    background-position: center;
    min-height: 35.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .nav_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
        .logo_web_site{
            max-width: 60%;
        }
        .logo_hamburger{
            /* max-width: 30%; */
        }
    .container_title_site{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .title_web_site{
            font-family: var(--default_font_title);
            display: flex;
            flex-direction: column;
            text-align: right;
            font-weight: lighter;
            text-shadow: 0px 3px 6px #0000004D;
            transform: rotate(-10deg);
            font-size: 2.8em;
            line-height: 1.5em;
            color: white;
        }
            .sub_title_web_site{
                font-size: 0.7em;
                font-family: var(--default_font_title);
            }
        .container_title_site_btn{
            padding: 0.4em 1.25em;
            background-color: var(--bg_blue);
            color: white;
            font-weight: bolder;
            font-size: 1.5em;
            border-radius: 2.1em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
/* About Me */
.about_me{
    background-color: var(--bg_blue);
    color: white;
}

/* section cards */
.container_card{
    margin: auto;
    display: grid;
    grid-template-rows: repeat(5,95vw);
    grid-template-columns: 95vw;
    gap: 0.6em;
}
    .card_img{
        height: 100%;
        width: 100%;
        object-fit:cover;
    }
    .card_img:hover > .card_container_info{
        display: flex;
    }
    .card_container_info{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .card_container_title{
            font-size: 1.5em;
            font-weight: bold;
        }
        .card_container_para{
            text-align: center;
            font-size: 0.875em;
        }
        .card_container_btn{
            font-size: 0.875em;
            font-weight: medium;
            padding: 0.4em 1.5em;
            border: 2px solid #FFFFFF;
            background-color: var(--invisible);
            border-radius: 2em;
        }