
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 100%;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.style_btn{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.6rem 1.5rem;
    place-self: center;
    border-radius: 2rem;
    font-size: 1.2em;
    border-style: solid;
    border-color: white;
}
/* HEADER */
header{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-image: url("../assets/photo_montagnes.png");
    background-position: center;
    background-size: cover;
}
    .header_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;
    }
        #burger{
            cursor: pointer;
            display: flex;
            background-color: rgba(0, 0, 0, 0);
            border: none;
        }
        .header_nav > img{
            max-width: 40%;
        }
        .list_menu_nav{
            display: none;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        .list_menu_nav_open{
            z-index: 2;
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.8);
        }
            .header_nav > ul > li {
                margin: 0.4rem;
                font-size: 1rem;
                color: white;
            }
            .header_nav > ul > li:hover{
                text-decoration: underline;
            }
                .header_nav > ul >li> button{
                    border: none;
                    background-color: white;
                    color: #3693D6;
                }
    .header_middle_content{   
        font-family: 'Calligraffitti', cursive;
        color: white;
        display: flex;
        flex-direction: column;
    }
        .header_middle_content > button{
            place-self: center;
            margin: 1rem;
            font-weight: bolder;
            background-color: #3693D6;
            border: none;
        }
        .main_tittle{
            margin: 1.5rem;
            text-shadow: 3px 3px 6px rgb(85, 85, 85);
            place-self: center;
            display: flex;
            transform: rotateZ(-8deg);
            font-weight: 400;
            flex-direction: column;
            text-align: left;
            font-size: 3rem;
        }
            .main_tittle > span {
                text-align: right;
            }
    
/* FIRST SECTION */
.section_about_me{
    padding: 2vw 10vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3693D6;
    color: white;
}
/* THIRD SECTION */
.section_third{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .section_third > h2{
        color: #3693D6;
    }
    .list_cards{
        padding: 0px;
        display: grid;
        grid-template-rows: repeat(5,90vw);
        grid-template-columns: 90vw;
        gap: 2vw;
        grid-template-areas: 
            "first horizon horizon"
            "big big secound"
            "big big third";
        grid-template-areas: 
            "first"
            "horizon"
            "big"
            "secound"
            "third"
        }
        /* cards */
        .card:nth-child(1){
            grid-area: first;
            background-image: url("../assets/cold-daylight-fjord-1586298.png");
        }
        .card:nth-child(2){
            grid-area: horizon;
            background-image: url("../assets/adorable-animal-breed-434090.png");
        }
        .card:nth-child(3){
            grid-area: big;
            background-image: url("../assets/action-active-cold-2433353.png");
        }
        .card:nth-child(4){
            grid-area: secound;
            background-image: url("../assets/adventure-adventurer-altitude-2577274.png");
        }
        .card:nth-child(5){
            grid-area: third;
            background-image: url("../assets/beatiful-landscape-cold-colors-2832052.png");
        }
        .card{
            background-position: center;
            background-size: cover;
            display: inline-flex;
            overflow: hidden;
        }
        .card:hover > .window, .card:focus > .window{
            transition: 0.3s;
            transform:translateY(0);
            overflow-y: visible;
        }
            .window{
                background-image: url("../assets/blue_filter.svg");
                transform:translateY(100%);
                transition: 0.3s;
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                color: white;
            }



/* FOOTER */
footer{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1rem;
    background-color: #3693D6;
    padding: 2rem 5rem;
    font-size: 0.8rem;
}
    footer h4{
        font-size: 1rem;
        margin: 0px;
    }
    .footer_column{
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: start;
    }
    footer ul{
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .list_logo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .footer_img_icon{
            min-width: 2rem;
            max-width: 2rem;
            max-height: 2rem;
            margin: 1rem;
        }


/* JS */
#cards{
    width: 100%;
    display: grid;
    grid-template-columns: 5vw auto 5vw;
    grid-template-rows: auto auto;
    font-size: 1rem;
}
    .list_slider_cards{
        overflow: hidden;
        grid-column: 2;
        width: 100%;
        display: grid;
        animation: scroll 1s;
        grid-template-columns: 100% 100%;
    }
        .slider_card{
            color: #3693D6;
            text-align: center;
            place-self: center;
            grid-row: 1;
        }
            .slider_card > h2{
                font-size: 2em;
            }
            .slider_card > h3{
                font-size: 1.5em;
            }
.list_slider_btn{
    display: flex;
    flex-direction: row;
    place-self: center;
    grid-column: 2;
    grid-row: 2;
}
    .list_slider_btn > li{
        margin: 1em;
        display: flex;
    }
        .dot{
            cursor: pointer;
            height: 1.5em;
            width: 1.5em;
            background-color: #E2E2E2;
            border-radius: 50%;
            border-width: 0px;
            transition: 0.3s;
        }
        .selected{
            transition: 0.3s;
            background-color: #9BC0FF;
        }

@keyframes scroll{
    from{
        transform: translateX(-100vw);
    }to{
        transform: translateX(0);
    }
}




@media screen and (min-width: 768px) {
    .main_tittle{
        font-size: 800%;
    }
    #close_menu_burger{
        display: none;
    }
    #burger{
        display: none;
    }
    .list_menu_nav{
        display: flex;
    }
    .list_cards{
        padding: 0px;
        display: grid;
        grid-template-rows: 30vw 30vw 30vw;
        grid-template-columns: 30vw 30vw 30vw;
        gap: 2vw;
        grid-template-areas: 
            "first horizon horizon"
            "big big secound"
            "big big third";
    }
}