/* =========================== RESET CSS =========================== */
*{ margin: 0px; padding: 0px;font-family: 'Lato', sans-serif;}
ul{ list-style: none; }
html{ font-size: 100%; }
p{ font-size: 1rem; line-height: 1.5em; }
h1{ font-family: 'Calligraffitti', cursive; font-size: 3.125rem; line-height: 3.125rem; }
h2{ font-family: 'Lato', sans-serif; font-size: 2.5rem; line-height: 2.5rem; }
h3{ font-family: 'Lato', sans-serif; font-size: 2rem; line-height: 2.1rem; }
body{padding:0px; margin:0px;--invisible:rgba(0,0,0,0);}
button{border: none;padding: 1em;}
/* ================================================================= */

html{
    /* colors */
    --bg_blue:#3693D6;
    --bg_light_blue:#9BC0FF;
    --bg_grey:#0000004D;
    --bg_light_grey:#E2E2E2;
}
h2{
    color: var(--bg_blue);
}
/* HEADER */
header{
    background-color: grey;
}

